<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register/register.css">
</head>
<body>
<div class="login_logo">
    <img src="../static/img/系统.png">
    <span>文章发布系统</span>
</div>
<div class="login_form">
    <form name="login" method="post" action="/register">
        <h1 class="login_title">用户注册</h1>
        <input type="text" class="input_txt" name="username" placeholder="用户名">
        <input type="password" class="input_txt" name="password" placeholder="密码">
        <input type="submit" value="注  册" class="input_sub">
    </form>
</div>

<div class="login_bg"></div>
</body>
</html>